/* CSS FOR LANDING PAGE */

* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
    list-style-type: none;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
}

header {
    height: 70px;
    width: 100%;
    background-color: white;
    color: black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10px;
    box-shadow: 0 3px 20px rgb(128, 128, 128);
    position: fixed;
    
}

body {
    font-family: 'Quicksand', sans-serif;
}


.header-button  {
    font-size: 17px;
    font-weight: 800;
    text-decoration: none;
    color: rgb(0, 136, 169);
    letter-spacing: 3px;
    justify-content: space-around;
    align-items: center;

    margin-right: 30px;
    padding: 6px 25px;
    background-color: white;
    border: 2px solid rgba(0, 136, 169, 1);
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease 0s;   
}


.logo {
    height: 100px;
    width: 16%;
    cursor: pointer;
    margin-right: auto;
    margin-left: 20px;
    display: flex;
    display: block;
    object-fit: contain;
    max-width: 400px;
    width: 100%;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);
    border: 2px solid rgba(0, 136, 169, 0.3);
    color: snow;
    text-decoration: none;
}



@media screen and (max-width: 500px){
    .header-button{
        padding: 4px 20px;
        font-size: 15px;
        margin-right: 10px;
    }

    .logo {
        margin-left: 20px;
        width: 90%;
    }
}




















/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


#flybuys-welcome {
    background-image: url('../img/balloons.jpg');
    background-size: cover;
    background-position: center;
    height: 600px;
    width: 100%;
    text-align: center;

}

#flybuys-welcome img {
    max-width: 400px;
    width: 100%;
}



.welcome-article {
    height: 100%;
    width: 60%;
    margin: 0 auto;
    padding: 200px 50px;
    text-align: center;
}

.welcome-article h1 {
    color: white;
    font-size: 100px;
    font-weight: 900;
    font-weight: 500;
    letter-spacing: 2px;
    padding-bottom: 30px;
    display: flex;
    display: block;
    text-align: center;
    margin-top: 50px;
    
}

.welcome-article h3 {
    color: white;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 2px;
    padding-bottom: 50px;

}


.signup-button {

    background-color: transparent;
    color: white;
    border: 2px solid rgba(0, 136, 169, 1);
    border-radius: 10px;
    padding: 10px 35px;
    cursor: pointer;
    transition: all 0.3s ease 0s;

    font-size: 17px;
    font-weight: 800;
    text-decoration: none;
    color: white;
    letter-spacing: 3px;
    justify-content: space-around;

    text-align: center;
    margin: auto;
    display: block;


}







@media screen and (max-width: 845px) {

    main {
        width: auto;
        border-radius: 0;
    }

    .welcome-article h1 {
        padding: 20px;
        font-size: 70px;
    }

    .welcome-article h3 {
        font-size: 25px;
    }

    .welcome-article {
        width: 100%;
    }

    #flybuys-welcome {
        width: auto;
    }

    .signup-button {
        padding: 8px 20px;
        font-size: 14px;
    }

}




















/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


#flybuys-process {
    height: 600px;
    width: 100%;
    background-color: white;

    padding: 50px 10px 50px 10px;
    
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 30px;

    box-shadow: 0 3px 20px rgb(202, 202, 202);

    z-index: 0;

}

.features {
    background: rgb(248, 248, 248);
    padding: 30px 40px 10px 40px;
    text-align: center;
    margin-left: 15px;
    margin-right: 20px;
    box-shadow: 0 12px 10px -10px rgba(0,0,0,0.2);
}

.features h2 {
    margin: 10px 0 0;
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    padding-bottom: 10px;
    color: rgb(0, 136, 169);
}

.features p {
    font-size: 15px;
}

.laptop {
    border-top: 3px solid rgb(14, 163, 201);
}

.card {
    border-top: 3px solid rgb(14, 163, 201);
}

.present {
    border-top: 3px solid  rgb(14, 163, 201);
}



@media screen and (max-width:900px) {

    #flybuys-process {
        height: 1800px;
        grid-template-columns: repeat(1, auto);
    }

    .features {
        padding-bottom: 20px;
        padding: 30px 40px 30px 40px;
    }

    .features h2 {
        padding-top: 0px;
        font-size: 20px;
        font-size: 25px;
    }

    .features p {
        font-size: 14px;
    }
}



















/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

#partners {
    height: 700px;
    width: 100%;
    background-color: white;

    padding: 50px 20px 50px 20px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);

    border-top: 5px solid rgba(233, 233, 233, 0.5);

    z-index: -1;
}

.wrapper {
    margin: 10px 50px 20px 50px;
    background-color: rgba(215, 235, 236, 0.4);
    padding: 30px 40px 30px 40px;
    border-radius: 10px;
    box-shadow: -2px 4px 13px rgba(0, 0, 0, 0.2);
}


.nested {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, auto);
    grid-gap: 80px;
    justify-content: center;
    padding: 30px 40px 30px 40px;
}

.nested > div {
    background: white;
    padding: 10px;
    width: 150px;
    height: 90px;
    border-radius: 10px;
    box-shadow: -2px 4px 13px rgba(0, 0, 0, 0.2);
}

.nested > div:hover {
    border: 2px solid rgba(14, 163, 201, 0.8);
    cursor: pointer;
    transition: all 0.1s ease 0s;
}

.logos img {
    align-content: center;
}


.collect {
    display: grid;
    grid-template-rows: repeat(1fr, 4);
    background: transparent;
    padding: 30px 100px 30px 100px;
    margin: 10px 30px 10px 30px;
    text-align: center;
}

.collect h1 {
    margin: 10px 0 0;
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    padding-top: 30px;
    padding-bottom: 10px;
    color: rgb(0, 136, 169);
}

.collect p {
    font-size: 20px;
}


.partners-button {
    background-color: rgb(14, 163, 201);
    border: 2px solid rgb(14, 163, 201);
    border-radius: 20px;
    cursor: pointer;
    padding: 15px 35px;
    text-align: center;
    align-content:center;

    font-family: 'Quicksand', sans-serif;
    font-size: 19px;
    font-weight: 800px;
    color: white;
    letter-spacing: 2px;
    text-decoration: none;


    transition: all 0.3s ease 0s;
    box-shadow: -2px 4px 13px rgba(0, 0, 0, 0.2);

}

.partners-wrap {
    margin: 5px;
}
   

.collect button:hover {
    background-color: white;
    border: 2px solid rgba(0, 136, 169, 0.4);
    color: snow;
    letter-spacing: 3px;
}


@media screen and (max-width: 1000px){
    #partners {
       height: 1300px;
       width: 100%;
    }

    #wrapper {
        padding: 20px 20px 20px 20px;
        margin: 15px;
        height: 400px;
    }

    .nested {
        grid-gap: 70px;
    }

    .collect {
        grid-column-start: span 3;
        padding: 20px;
        margin-top: 0;
        padding-top: 0;
    }

    .collect p {
        padding: 20px;
    }

    .partners-wrap {
        padding-top: 30px;
    }
}


@media screen and (max-width: 600px) {

    #partners {
        height: 1300px;
        margin: 0;
        align-items: center;
        padding: 30px 0px 30px 20px;
    }

    .wrapper {
        padding: 0px;
        margin: 5px;
    }
    

    .nested {
        display: grid;
        grid-template-columns: repeat(2, 150px);
        grid-template-rows: repeat(5, auto);
        grid-gap: 40px;
        justify-content: center;
        padding: 20px;
        padding-top: 40px;
    }

    .logos:last-child {
        display: none;
    }


    .collect {
        grid-column-start: span 3;
        padding: 20px;
        margin-top: 0;
        padding-top: 0;
    }

    .collect p {
        padding: 20px;
    }

    .partners-wrap {
        padding-top: 30px;
    }

}



















/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////// */



#travel {
    background-image: url('../img/boat.jpg');
    background-size: cover;
    background-position: center;
    height: 600px;
    width: 100%;
    color: white;

 

    display: grid;
    grid-template-columns: repeat(2, 1fr);

   
    margin: 0 auto;
}

.flybuystravel1 {
    padding: 90px;
    margin-top: 280px;
    text-align: left; 
}

.flybuystravel1 h2 {
    padding-bottom: 5px;
    font-size: 35px;
    margin: 0;
    font-weight: 500;
    letter-spacing: 2px;
}

.flybuystravel1 h1 {
    font-size: 55px;
    font-weight: 900;
    margin: 0;
    text-shadow: -2px 4px 13px rgba(0, 0, 0, 0.5);
}



.flybuystravel2 {
    margin-top: 340px;
    text-align: right;
    width: 100%;
    max-width: 1500px;
    padding: 90px;
}

.flybuystravel2 h2 {
    padding-bottom: 15px;
    font-size: 35px;
    margin: 0;
    font-weight: 700;
}

.flybuystravel2 p {
    letter-spacing: 2px;
    font-size: 22px;
    font-weight: 600px;
    margin: 0;
}


@media screen and (max-width: 900px) {
    
    .flybuystravel1 {
        padding: 20px;
        margin-top: 305px;
    }

    .flybuystravel1 h2 {
        padding-bottom: 5px;
        font-size: 20px;
    }

    .flybuystravel1 h1 {
        font-size: 30px;
    }

    .flybuystravel2 {
        margin-top: 430px;
        text-align: right;
        padding: 20px;
        padding-left: 0;
    }
    
    .flybuystravel2 h2 {
        padding-bottom: 15px;
        font-size: 25px;
    }
    
    .flybuystravel2 p {
        font-size: 16px;
    }

}

















/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

#start-earning {
    background-size: cover;
    background-position: center;
    height: 180px;
    width: 100%;
    background-color: white;
    color: rgb(0, 180, 197);

    text-align: center;
    padding: 40px;

    padding-bottom: 20px;
}

#start-earning h2 {
    font-size: 35px;
    margin: 0;
    letter-spacing: 1.5px;
    padding-bottom: 28px;
}

.earning-button  {
    font-size: 17px;
    font-weight: 800;
    text-decoration: none;
    color: rgb(0, 136, 169);
    letter-spacing: 3px;
    justify-content: space-around;
    align-items: center;

    margin-right: 30px;
    padding: 6px 25px;
    background-color: white;
    border: 2px solid rgba(0, 136, 169, 1);
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease 0s;   
}


@media screen and (max-width: 900px) {
    #start-earning {
        height: 200px;
    }

    #start-earning h2 {
        font-size: 25px;
    }

    .earning-button {
        margin-left: 30px;
    }
}















/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

footer {
    background-size: cover;
    height: 80px;
    width: 100%;
    background-color: rgb(0, 180, 197);

    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.socialmedia {
    grid-template-columns: repeat(3, 1fr);
    justify-content: end;
}

footer ul {
    padding: 20px 0;

    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: end;
    margin-right: 20px;
    grid-gap: 20px;
    scale: 30%;
}

.copyright p {
    justify-content: start;
    margin-left: 20px;
    padding: 30px 30px;
    width: 100%;

    color: white;
    font-size: 15px;
}

footer li img {
    list-style: none;
    width: 100%;
}

footer img {
    margin: -25px;
}



@media screen and (max-width:900px) {
    .copyright p {
        font-size: 10px;
        margin-left: 10px;
    }

    footer li img {
        width: 100%;
        scale: 25%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
